<!DOCTYPE html>
<html lang="ru">
  <head>
    //= head/charset.html
    <title>Каталог товаров магазина «Техномарт»</title>
    //= head/favicon.html
    //= head/viewport.html
    //= head/style.html
  </head>
  <body class="page grid grid--height">
    //= section/header-inner.html
    <main class="page-main">
      <div class="container">
        <ul class="breadcrumb">
          <li><a href="index.html">Главная</a></li>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">Инструмент</a></li>
          <li><a title="Вы находитесь на этой странице">Перфораторы</a></li>
        </ul>
        <h1 class="header-catalog header-catalog--selection">Перфораторы</h1>
        <div class="grid grid--columns-4 grid--gap">
          <section class="grid__row--start-4">
            <h2 class="header-display">Фильтр:</h2>
            <form name="filter" action="https://echo.htmlacademy.ru/" method="post" oninput="show_price_min.value=price_min.value; show_price_max.value=price_max.value">
              <fieldset class="content-box">
                <legend class="content-box__header">Цена:</legend>
                <label for="price-min">Минимальная цена</label>
                <input id="price-min" name="price_min" type="number" value="0" min="0" max="40000" step="1000">
                <label for="price-max">Максимальная цена</label>
                <input id="price-max" name="price_max" type="number" value="30000" min="1000" max="40000" step="1000">
                <span>от <output class="content-box__inscription-price" name="show_price_min" for="price-min">0</output></span>
                <span>до <output class="content-box__inscription-price" name="show_price_max" for="price-max">30000</output></span>
              </fieldset>
              <fieldset class="content-box">
                <legend class="content-box__header">Производители:</legend>
                <label class="content-box__label">
                  <input class="content-box__input" name="manufacturer-bosch" type="checkbox" checked>
                  <span class="content-box__inscription" lang="en">BOSCH</span>
                </label>
                <label class="content-box__label">
                  <input class="content-box__input" name="manufacturer-interscol" type="checkbox">
                  <span class="content-box__inscription">ИНТЕРСКОЛ</span>
                </label>
                <label class="content-box__label">
                  <input class="content-box__input" name="manufacturer-makita" type="checkbox" checked>
                  <span class="content-box__inscription" lang="en">MAKITA</span>
                </label>
                <label class="content-box__label">
                  <input class="content-box__input" name="manufacturer-dewalt" type="checkbox">
                  <span class="content-box__inscription" lang="en">DEWALT</span>
                </label>
                <label class="content-box__label">
                  <input class="content-box__input" name="manufacturer-hitachi" type="checkbox">
                  <span class="content-box__inscription" lang="en">HITACHI</span>
                </label>
              </fieldset>
              <fieldset class="content-box">
                <legend class="content-box__header">Питание:</legend>
                <label class="content-box__label">
                  <input class="content-box__input" name="powered" type="radio" value="battery" checked>
                  <span class="content-box__inscription">Аккумуляторные</span>
                </label>
                <label class="content-box__label">
                  <input class="content-box__input" name="powered" type="radio" value="network">
                  <span class="content-box__inscription">Сетевые</span>
                </label>
              </fieldset>
              <input class="button button--display" type="submit" value="Показать">
            </form>
          </section>
          <section class="grid__column--2-end">
            <h2 class="header-display">Сортировка:</h2>
            <ul class="plan-display">
              <li>
                <a class="plan-display__link" title="Выбрано">По цене</a>
              </li>
              <li>
                <a class="plan-display__link" href="#">По типу</a>
              </li>
              <li>
                <a class="plan-display__link" href="#">По функционалу</a>
              </li>
            </ul>
            <ul class="plan-display">
              <li>
                <a class="plan-display__link" title="Выбрано">По возрастанию</a>
              </li>
              <li>
                <a class="plan-display__link" href="#">По убыванию</a>
              </li>
            </ul>
          </section>
          <section class="grid__column--2-end">
            <h2>Список товаров</h2>
            <ul class="list-card grid grid--columns-3 grid--gap">
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 6000</h3>
                  <img src="image/content/perforator-bosch-bfg-6000.jpg" alt="Перфоратор BOSCH, модель BFG 6000, синего цвета." width="144" height="128">
                  <s class="card-product__price card-product__price--additional">30500 <abbr title="рублей">р</abbr>.</s>
                  <p class="card-product__price card-product__price--relevant">25500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 6000</h3>
                  <img src="image/content/perforator-bosch-bfg-6000.jpg" alt="Перфоратор BOSCH, модель BFG 6000, синего цвета." width="144" height="128">
                  <s class="card-product__price card-product__price--additional">30500 <abbr title="рублей">р</abbr>.</s>
                  <p class="card-product__price card-product__price--relevant">25500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 6000</h3>
                  <img src="image/content/perforator-bosch-bfg-6000.jpg" alt="Перфоратор BOSCH, модель BFG 6000, синего цвета." width="144" height="128">
                  <s class="card-product__price card-product__price--additional">30500 <abbr title="рублей">р</abbr>.</s>
                  <p class="card-product__price card-product__price--relevant">25500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 3000</h3>
                  <img src="image/content/perforator-bosch-bfg-2000-3000.jpg" alt="Перфоратор BOSCH, модель BFG 3000, синего цвета." width="127" height="112">
                  <s class="card-product__price card-product__price--additional">22500 <abbr title="рублей">р</abbr>.</s>
                  <p class="card-product__price card-product__price--relevant">15500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 6000</h3>
                  <img src="image/content/perforator-bosch-bfg-6000.jpg" alt="Перфоратор BOSCH, модель BFG 6000, синего цвета." width="144" height="128">
                  <s class="card-product__price card-product__price--additional">30500 <abbr title="рублей">р</abbr>.</s>
                  <p class="card-product__price card-product__price--relevant">25500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 2000</h3>
                  <img src="image/content/perforator-bosch-bfg-2000-3000.jpg" alt="Перфоратор BOSCH, модель BFG 2000, синего цвета." width="127" height="112">
                  <p class="card-product__price card-product__price--relevant">12500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 3000</h3>
                  <img src="image/content/perforator-bosch-bfg-2000-3000.jpg" alt="Перфоратор BOSCH, модель BFG 3000, синего цвета." width="127" height="112">
                  <s class="card-product__price card-product__price--additional">22500 <abbr title="рублей">р</abbr>.</s>
                  <p class="card-product__price card-product__price--relevant">15500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 6000</h3>
                  <img src="image/content/perforator-bosch-bfg-6000.jpg" alt="Перфоратор BOSCH, модель BFG 6000, синего цвета." width="144" height="128">
                  <s class="card-product__price card-product__price--additional">30500 <abbr title="рублей">р</abbr>.</s>
                  <p class="card-product__price card-product__price--relevant">25500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
              <li class="list-card__item card-product">
                <a href="#">
                  <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 2000</h3>
                  <img src="image/content/perforator-bosch-bfg-2000-3000.jpg" alt="Перфоратор BOSCH, модель BFG 2000, синего цвета." width="127" height="112">
                  <p class="card-product__price card-product__price--relevant">12500 <abbr title="рублей">р</abbr>.</p>
                </a>
                <button class="button button--buy" type="button">Купить</button>
                <button class="button button--tab" type="button">В закладки</button>
              </li>
            </ul>
          </section>
          <ul class="pagination grid__column--2-end">
            <li>
              <a class="button button--display" title="Вы находитесь на этой странице">1</a>
            </li>
            <li>
              <a class="button button--display" href="#">2</a>
            </li>
            <li>
              <a class="button button--display" href="#">3</a>
            </li>
            <li>
              <button class="button button--display" type="button">Следующая</button>
            </li>
          </ul>
        </div>
      </div>
      <section class="section annotation">
        <div class="container">
          <h2 class="section__header">Пара слов о перфораторах</h2>
          <p class="section__description">
            Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне.<br>
            Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка.<br>
            В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.
          </p>
        </div>
      </section>
    </main>
    //= section/footer-inner.html
    <section class="message-trade" hidden>
      <h2>Торговое сообщение</h2>
      <p class="message-trade__header">Товар добавлен в корзину!</p>
      <p class="message-trade__inner">
        <a class="button button--promo" href="#">Оформить заказ</a>
        <button class="button button--classic" type="button">Продолжить покупки</button>
      </p>
      <button type="button">Закрыть</button>
    </section>
  </body>
</html>
