<!DOCTYPE html>
<html lang="ru">
  <head>
    //= head/charset.html
    <title>Магазин «Техномарт»</title>
    //= head/favicon.html
    //= head/viewport.html
    //= head/style.html
  </head>
  <body class="page">
    //= section/header-main.html
    <main class="page-main">
      <h1>Магазин для строительства «Техномарт»</h1>
      <div class="container">
        <section>
          <h2>Категории товаров:</h2>
          <ul class="plan-product">
            <li class="plan-product__item plan-product__item--orange">
              <h3 class="plan-product__header">Материалы</h3>
              <a class="button button--ghost" href="#">На любой вкус</a>
            </li>
            <li class="plan-product__item plan-product__item--blue">
              <h3 class="plan-product__header">Инструмент</h3>
              <a class="button button--ghost" href="#">На все случаи</a>
            </li>
            <li class="plan-product__item plan-product__item--purple">
              <h3 class="plan-product__header">Техника</h3>
              <a class="button button--ghost" href="#">Для стройки</a>
            </li>
          </ul>
        </section>
        <section>
          <h2>Особые товары:</h2>
          <ul class="plan-product">
            <li class="plan-product__item">
              <h3 class="plan-product__header plan-product__header--big">Перфораторы</h3>
              <p class="plan-product__description">Настоящие мужские игрушки</p>
              <img src="image/content/male-toy-perforator.jpg" alt="Брутальный мужчина в каске с наушниками и очках сверлит бетонную стену перфоратором фирмы Bosсh." width="620" height="266">
              <a class="button button--promo" href="#">Открыть каталог</a>
            </li>
            <li class="plan-product__item">
              <h3 class="plan-product__header plan-product__header--big">Дрели</h3>
              <p class="plan-product__description">Соседям на радость</p>
              <img src="image/content/male-toy-drill.jpg" alt="Брутальный мужчина в каске, очках и берушах сверлит кирпичную стену дрелью фирмы Bosсh." width="620" height="266">
              <a class="button button--promo" href="#">Открыть каталог</a>
            </li>
          </ul>
        </section>
        <section>
          <h2>Наши преимущества:</h2>
          <ul class="plan-product">
            <li class="plan-product__item plan-product__item--green">
              <h3 class="plan-product__header">Скидки 50%</h3>
              <a class="button button--ghost" href="#">На 350 товаров</a>
            </li>
            <li class="plan-product__item plan-product__item--yellow">
              <h3 class="plan-product__header">Доставка</h3>
              <a class="button button--ghost" href="#service-delivery">Бесплатно</a>
            </li>
          </ul>
        </section>
      </div>
      <section class="container">
        <div class="header-catalog--alert">
          <h2 class="header-catalog">Популярные товары:</h2>
          <a class="button button--promo" href="#">Все популярные товары</a>
        </div>
        <ul class="card__wrapper">
          <li class="card card-product">
            <a href="#">
              <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 9000</h3>
              <img src="image/content/perforator-bosch-bfg-9000.jpg" alt="Перфоратор BOSCH, модель BFG 9000, синего цвета." width="184" height="164">
              <s class="card-product__price card-product__price--additional">32500 <abbr title="рублей">р</abbr>.</s>
              <p class="card-product__price card-product__price--relevant">25500 <abbr title="рублей">р</abbr>.</p>
            </a>
            <button class="button button--buy" type="button">Купить</button>
            <button class="button button--tab" type="button">В закладки</button>
          </li>
          <li class="card card-product">
            <a href="#">
              <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 3000</h3>
              <img src="image/content/perforator-bosch-bfg-2000-3000.jpg" alt="Перфоратор BOSCH, модель BFG 3000, синего цвета." width="127" height="112">
              <s class="card-product__price card-product__price--additional">22500 <abbr title="рублей">р</abbr>.</s>
              <p class="card-product__price card-product__price--relevant">15500 <abbr title="рублей">р</abbr>.</p>
            </a>
            <button class="button button--buy" type="button">Купить</button>
            <button class="button button--tab" type="button">В закладки</button>
          </li>
          <li class="card card-product">
            <a href="#">
              <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 6000</h3>
              <img src="image/content/perforator-bosch-bfg-6000.jpg" alt="Перфоратор BOSCH, модель BFG 6000, синего цвета." width="144" height="128">
              <s class="card-product__price card-product__price--additional">30500 <abbr title="рублей">р</abbr>.</s>
              <p class="card-product__price card-product__price--relevant">25500 <abbr title="рублей">р</abbr>.</p>
            </a>
            <button class="button button--buy" type="button">Купить</button>
            <button class="button button--tab" type="button">В закладки</button>
          </li>
          <li class="card card-product">
            <a href="#">
              <h3 class="card-product__header">Перфоратор <span lang="en">BOSCH BFG</span> 2000</h3>
              <img src="image/content/perforator-bosch-bfg-2000-3000.jpg" alt="Перфоратор BOSCH, модель BFG 2000, синего цвета." width="127" height="112">
              <s class="card-product__price card-product__price--additional">22500 <abbr title="рублей">р</abbr>.</s>
              <p class="card-product__price card-product__price--relevant">12500 <abbr title="рублей">р</abbr>.</p>
            </a>
            <button class="button button--buy" type="button">Купить</button>
            <button class="button button--tab" type="button">В закладки</button>
          </li>
        </ul>
      </section>
      <section class="container">
        <div class="header-catalog--alert">
          <h2 class="header-catalog">Популярные производители:</h2>
          <a class="button button--promo" href="#">Все производители</a>
        </div>
        <ul class="card__wrapper">
          <li class="card">
            <a href="#">
              <img src="image/content/fabricator-bosch.png" alt="Bosch." width="126" height="37" lang="en">
            </a>
          </li>
          <li class="card">
            <a href="#">
              <img src="image/content/fabricator-makita.png" alt="Makita." width="123" height="40" lang="en">
            </a>
          </li>
          <li class="card">
            <a href="#">
              <img src="image/content/fabricator-dewalt.png" alt="Dewalt." width="146" height="44" lang="en">
            </a>
          </li>
          <li class="card">
            <a href="#">
              <img src="image/content/fabricator-interskol.png" alt="Интерскол." width="200" height="76">
            </a>
          </li>
          <li class="card">
            <a href="#">
              <img src="image/content/fabricator-hitachi.png" alt="Hitachi." width="169" height="31" lang="en">
            </a>
          </li>
          <li class="card">
            <a href="#">
              <img src="image/content/fabricator-lg.png" alt="LG Electronics." width="121" height="73" lang="en">
            </a>
          </li>
          <li class="card">
            <a href="#">
              <img src="image/content/fabricator-aeg.png" alt="AEG Power Solutions." width="151" height="98" lang="en">
            </a>
          </li>
          <li class="card">
            <a href="#">
              <img src="image/content/fabricator-metabo.png" alt="Metabo. Work, don`t play." width="206" height="73" lang="en">
            </a>
          </li>
        </ul>
      </section>
      <section class="section services">
        <div class="container">
          <h2 class="section__header">Сервисы</h2>
          <p class="section__description">Хороший интернет-магазин отличается от плохого не только ценами! Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными.</p>
          <ul class="services__plan">
            <li>
              <a class="services__link" href="#service-delivery" title="Активна">Доставка</a>
            </li>
            <li>
              <a class="services__link" href="#service-guarantee">Гарантия</a>
            </li>
            <li>
              <a class="services__link" href="#service-credit">Кредит</a>
            </li>
          </ul>
          <div id="service-delivery">
            <h3 class="section__header section__header--brand">Доставка</h3>
            <p class="section__description">
              Мы с удовольствием доставим ваш товар прямо<br>
              к вашему подъезду совершенно бесплатно!<br>
              Ведь мы неплохо заработаем,<br>
              поднимая его на ваш этаж!
            </p>
          </div>
          <div id="service-guarantee">
            <h3 class="section__header section__header--brand">Гарантия</h3>
            <p class="section__description">
              Если купленный у нас товар поломается или заискрит, а также в случае пожара, спровоцированного его возгоранием, вы всегда можете быть уверены в нашей гарантии. Мы обменяем сгоревший товар на новый. Дом уж восстановите как-нибудь сами.
            </p>
          </div>
          <div id="service-credit">
            <h3 class="section__header section__header--brand">Кредит</h3>
            <p class="section__description">
              Залезть в долговую яму стало проще!<br>
              Кредитные консультанты придут вам на помощь.
            </p>
            <a class="button button--promo" href="#">Отправить заявку</a>
          </div>
        </div>
      </section>
      <div class="container">
        <section class="section">
          <h2 class="section__header">Компания «Техномарт»</h2>
          <p class="section__description">
            Настоящий мужской шоппинг начинается здесь! Огромный выбор товаров для ремонта и строительства не оставит равнодушными любителей сэкономить на гастарбайтерах.
          </p>
          <p class="section__description">
            Мы можем доставить ваш товар в самые отдаленные точки России!<br>
            Техномарт работает со многими транспортными компаниями:
          </p>
          <ul class="section__list">
            <li class="section__item">Деловые линии</li>
            <li class="section__item">Автотрейдинг</li>
            <li class="section__item">ЖелДорЭкспедиция</li>
          </ul>
          <a class="button button--promo" href="#">Подробнее о компании</a>
        </section>
        <section class="section">
          <h2 class="section__header">Контакты</h2>
          <p class="section__description">
            Вы можете забрать товар сами,<br>
            заехав в наш офис:
          </p>
          <a href="https://yandex.ru/maps/-/CCUaIXvSPC"><img src="image/content/map-small.png" alt="Город Санкт-Петербург, набережная реки Карповки, дом 5, литера П." width="300" height="158"></a>
          <a class="button button--promo" href="#">Заблудились? Напишите нам!</a>
        </section>
      </div>
    </main>
    //= section/footer-main.html
    <p hidden>
      <img src="image/content/map-big.png" alt="Город Санкт-Петербург, набережная реки Карповки, дом 5, литера П." width="970" height="477">
      <button type="button">Закрыть</button>
    </p>
    <section class="communication" hidden>
      <h2>Коммуникация</h2>
      <form name="communication" action="https://echo.htmlacademy.ru/" method="post">
        <p>
          <label class="communication__label" for="communication-name">Ваше имя:</label>
          <input class="communication__input" id="communication-name" name="name" type="text" placeholder="Имя Фамилия">
        </p>
        <p>
          <label class="communication__label" for="communication-email">Ваш <span lang="en">e-mail</span>:</label>
          <input class="communication__input" id="communication-email" name="email" type="email" placeholder="email@example.com">
        </p>
        <p>
          <label class="communication__label" for="communication-message">Текст письма:</label>
          <textarea class="communication__input" id="communication-message" name="message" cols="60" rows="5" placeholder="В свободной форме"></textarea>
        </p>
        <input class="button button--promo" type="submit" value="Отправить">
      </form>
      <button type="button">Закрыть</button>
    </section>
  </body>
</html>
