<footer class="page-footer">
  <div class="container">
    <a class="logo" href="index.html">
      <img src="image/content/logo-technomart.svg" alt="Техномарт" width="108" height="18">
    </a>
    <p class="address address--text">
      <abbr title="город">г.</abbr> Санкт-Петербург, <abbr title="набережная">наб.</abbr> Реки Карповки, 5 <abbr title="литера">лит</abbr> П<br>
      <a href="tel:+78005558628">+7 800 555-86-28</a>
    </p>
    <ul class="scheme-site">
      <li>
        <ul class="scheme-site__plan scheme-site__plan--site">
          <li>
            <a class="scheme-site__link" href="index.html">Главная</a>
          </li>
          <li>
            <a class="scheme-site__link" href="#">Новости</a>
          </li>
          <li>
            <a class="scheme-site__link" title="Вы находитесь на этой странице">Каталог</a>
          </li>
          <li>
            <a class="scheme-site__link" href="#">Доставка</a>
          </li>
          <li>
            <a class="scheme-site__link" href="#">Контакты</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="scheme-site__plan scheme-site__plan--product">
          <li>
            <a class="scheme-site__link" href="#">Материалы</a>
          </li>
          <li>
            <a class="scheme-site__link" href="#">Техника</a>
          </li>
          <li>
            <a class="scheme-site__link" href="#">Инструмент</a>
          </li>
          <li>
            <a class="scheme-site__link" href="#">Спецпредложения</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="page-footer__inner">
    <div class="container">
      <p class="copyright">
        © 2010–2021 Компания «Техномарт»<br>
        Все права защищены
      </p>
      <ul class="plan-social">
        <li><a class="plan-social__link" href="#">Техномарт в ВКонтакте</a></li>
        <li><a class="plan-social__link" href="#">Техномарт в <span lang="en">Facebook</span></a></li>
        <li><a class="plan-social__link" href="#">Техномарт в <span lang="en">Instagram</span></a></li>
      </ul>
      <p class="copyright">Обратная связь: <a class="copyright__link" href="mailto:mail@htmlacademy.ru" lang="en">mail@htmlacademy.ru</a></p>
      <p class="copyright">Разработано — <a class="copyright__link" href="https://htmlacademy.ru/intensive/htmlcss" lang="en">htmlacademy.ru</a></p>
    </div>
  </div>
</footer>
