<footer>
  <a title="Вы находитесь на этой странице">Техномарт</a>
  <p>
    <abbr title="город">г.</abbr> Санкт-Петербург, <abbr title="набережная">наб.</abbr> Реки Карповки, 5 <abbr title="литера">лит</abbr> П<br>
    <a href="tel:+78005558628">+7 800 555-86-28</a>
  </p>
  <ul>
    <li>
      <ul>
        <li><a title="Вы находитесь на этой странице">Главная</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="catalog.html">Каталог</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><a href="catalog.html">Материалы</a></li>
        <li><a href="catalog.html">Техника</a></li>
        <li><a href="catalog.html">Инструмент</a></li>
        <li><a href="catalog.html">Спецпредложения</a></li>
      </ul>
    </li>
  </ul>
  <p>
    © 2010–2021 Компания «Техномарт»<br>
    Все права защищены
  </p>
  <ul>
    <li><a href="#">Техномарт в ВКонтакте</a></li>
    <li><a href="#">Техномарт в <span lang="en">Facebook</span></a></li>
    <li><a href="#">Техномарт в <span lang="en">Instagram</span></a></li>
  </ul>
  <p>Обратная связь: <a href="mailto:mail@htmlacademy.ru" lang="en">mail@htmlacademy.ru</a></p>
  <p>Разработано — <a href="https://htmlacademy.ru/intensive/htmlcss" lang="en">htmlacademy.ru</a></p>
</footer>
