<header>
  <nav>
    <a href="index.html">
      <img src="image/content/logo-technomart.svg" alt="Техномарт" width="220" height="42">
    </a>
    <form name="search" action="https://echo.htmlacademy.ru/" method="get">
      <label for="search-search">Поиск по сайту</label>
      <input id="search-search" name="search" type="search" placeholder="Поиск:">
      <input type="submit" value="Найти">
    </form>
    <ul>
      <li>
        <ul>
          <li><a href="#">Равшан Джамшутович</a></li>
          <li><a href="#">Выйти</a></li>
          <li><a href="#">Мои заказы</a></li>
          <li><a href="#">Личный кабинет</a></li>
        </ul>
      </li>
      <li><a href="#">Закладки: 0</a></li>
      <li><a href="#">Корзина: 10</a></li>
      <li><a href="#">Оформить заказ</a></li>
    </ul>
  </nav>
  <p>Интернет-магазин строительных материалов и инструментов для ремонта</p>
  <address>
    <a href="tel:+78005558628">+7 800 555-86-28</a>
    <p><abbr title="город">г.</abbr> Санкт-Петербург, <abbr title="набережная">наб.</abbr> Реки Карповки, 5 <abbr title="литера">лит</abbr> П</p>
  </address>
  <nav>
    <ul>
      <li><a href="index.html">Главная</a></li>
      <li><a href="#">Компания</a></li>
      <li><a title="Вы находитесь на этой странице">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Спецпредложения</a></li>
      <li><a href="#">Доставка</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </nav>
</header>
