body {
  font-style: normal;
  font-weight: 400;
  font-size: medium;
  line-height: normal;
  font-family: var(--font-cuprum);
  color: rgb(var(--color-project-revers));

  background-color: rgb(var(--color-project-avers));
}
