@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src:
    local("Cuprum"),
    local("Cuprum Regular"),
    local("Cuprum-Regular"),
      url("../font/cuprum-regular.woff2") format("woff2"),
      url("../font/cuprum-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src:
    local("Cuprum Bold"),
    local("Cuprum-Bold"),
      url("../font/cuprum-bold.woff2") format("woff2"),
      url("../font/cuprum-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src:
    local("Cuprum Italic"),
    local("Cuprum-Italic"),
      url("../font/cuprum-italic.woff2") format("woff2"),
      url("../font/cuprum-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src:
    local("Cuprum Bold Italic"),
    local("Cuprum-Bold-Italic"),
      url("../font/cuprum-bold-italic.woff2") format("woff2"),
      url("../font/cuprum-bold-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("PTSans"),
    local("PT Sans"),
    local("PTSans Regular"),
    local("PT Sans Regular"),
    local("PT-Sans"),
    local("PTSans-Regular"),
    local("PT-Sans-Regular"),
      url("../font/ptsans-regular.woff2") format("woff2"),
      url("../font/ptsans-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    local("PTSans Bold"),
    local("PT Sans Bold"),
    local("PTSans-Bold"),
    local("PT-Sans-Bold"),
      url("../font/ptsans-bold.woff2") format("woff2"),
      url("../font/ptsans-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src:
    local("PTSans Italic"),
    local("PT Sans Italic"),
    local("PTSans-Italic"),
    local("PT-Sans-Italic"),
      url("../font/ptsans-italic.woff2") format("woff2"),
      url("../font/ptsans-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src:
    local("PTSans Bold Italic"),
    local("PT Sans Bold Italic"),
    local("PTSans-Bold-Italic"),
    local("PT-Sans-Bold-Italic"),
      url("../font/ptsans-bold-italic.woff2") format("woff2"),
      url("../font/ptsans-bold-italic.woff") format("woff");
  font-display: swap;
}
